.author {

    align-content: center;
    width: 100%;
    padding: 10px;
    background: bisque;

}

.messages {
    background: olivedrab;
    padding: 10px;
}

.messageblock {
    display: grid;
    grid-template-columns: 2fr 6fr;
}