
.app-wrapper {
display: grid;
grid-template-columns: 1fr 8fr 1fr;
background-color: white;

}

.left-part {

  background-color: white;

}
.central-part {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  background-color: grey;
  margin: 2px;
}
.body {
  display: grid;
  grid-template-columns: 2fr 8fr;

}

.right-part {
  background-color: white;

}